<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro de Usuario</title>
</head>
<body>
  <h1>Registrar Usuario</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form action="/register" method="POST">
    <label>Nombre de usuario:</label>
    <input type="text" name="nombre_usuario" required>

    <label>Contraseña:</label>
    <input type="password" name="contraseña" required>

    <label>Confirmar Contraseña:</label>
    <input type="password" name="confirmar_contraseña" required>

    <h3>Datos personales</h3>
    <label>Nombres:</label>
    <input type="text" name="nombres" required>

    <label>Primer apellido:</label>
    <input type="text" name="primer_apellido" required>

    <label>Segundo apellido:</label>
    <input type="text" name="segundo_apellido">

    <label>Rol:</label>
    <select name="fk_rol">
  <% roles.forEach(r => { %>
    <option value="<%= r.pk_rol %>"><%= r.rol %></option>
  <% }) %>
</select>



    <label>Empaque:</label>
    <select name="fk_empaque">
      <% empaques.forEach(e => { %>
        <option value="<%= e.pk_empaque %>"><%= e.nombre_empaque %></option>
      <% }) %>
    </select>

    <button type="submit">Registrar</button>
  </form>

  <a href="/">Volver al login</a>
</body>
</html>
